 @model List<Lab2_VuThiTraGiang_CSE422.Models.Device>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center mb-5">List of Devices</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Devices" asp-action="Create">New Device</a>
    </div>
    <div class="col">
    </div>
    <div class="col-md-6">
        <form class="d-flex" asp-action="Index" asp-controller="Devices" method="get">
            <div class="input-group">
                <input name="searchString" class="form-control" type="search" placeholder="Search by name and code" aria-label="Search" value="@ViewBag.SearchString">
                <button type="submit" class="btn btn-primary btn-lg search-button">
                    <i class="fas fa-search me-2 " style="color:white"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Code</th>
            <th>Category</th>
            <th>Status</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null) {
            @foreach (var item in Model) {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Name</td>
                    <td>@item.Code</td>
                    <td>@item.Category.Name</td>
                    <td>@item.Status</td>
                    <td>@item.CreatedAt.ToString("MM/dd/yyyy")</td>
                    <td style="white-space:nowrap">
                        <a class="btn btn-primary btn-sm" asp-controller="Devices" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a class="btn btn-danger btn-sm" asp-controller="Devices" asp-action="Delete" asp-route-id="@item.ID" onclick="return confirm('Are you sure you want to delete this?')">Delete</a>
                    </td>
                </tr>
            }
        }
        else {
            <p>No data available.</p>
        }
    </tbody>
</table>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="..." crossorigin="anonymous" referrerpolicy="no-referrer" />
